body {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.required::after {
  content: " *";
  color: red;
}

.comments-app {
  width: 40vw;
}

.comment-form {
  /* display: flex; */
  flex-direction: column;
  width: 40vw;
  margin: 0 auto;
}

.comment-form__user-name, .comment-form__text, .comment-form__submit {
  display: block;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  margin: .5rem 0;
}

.comment-form__text {
  background-color: #f1f1f1;
}

.comment-form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 1rem 1.5rem;
  margin-left: auto;
}

.comment {
  display: flex;
  border-bottom: 1px inset #f1f1f1;
  padding: 1rem;
}

.comment__avatar {
  flex: 0 0 40px;
}

.comment__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
  word-wrap: break-word;
}

.comment__header {
  display: flex;
}

.comment__name {
  font-weight: 600;
  max-width: 80%;
}

.comment__date {
  margin-left: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pagination__element, .pagination__element_active {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: .5em;
  margin: .5em;
  min-width: 50px;
  border: 1px solid black;
  cursor: pointer;
}

.pagination__element_active {
  font-weight: 700;
  background-color: #f1f1f1;
  border-width: 2px;
  cursor: default;
}

